.formArea {
    max-width: 800px;
}

.logoArea {
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}

.logotipo {
    max-width: 600px;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 480px) {
    .logotipo {
        max-width: 300px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .logotipo {
        max-width: 350px;
    }
}